<div>
    {% if activeSprint is not null %}
        {{ include('SprintWidget/active-sprint.html.twig', { 'sprint': activeSprint }) }}
    {% else %}
        There is not active sprint at this moment :(
    {% endif %}
</div>
{{ include('SprintWidget/add-new-sprint.html.twig', { 'form': form }) }}
