<div class="widget-module-box">
    {% for message in app.flashes('confidence') %}
        <div style="color: red">{{ message }}</div>
    {% endfor %}

    <h3>Add a new Confidence</h3>

    {% if error is not empty %}
        {{ error }}
    {% endif %}
    
    {{ form(form) }}
</div>
