<div class="widget-module-box">
    <h3>Confidence Active Sprint</h3>
    <div id="chart_box"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(confidenceActiveSprint, 'chart_box') }}
    </script>
</div>

